[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k

[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
    url = https://github.com/jimeh/tmux-themepack

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
