[submodule ".config/nvim/plugged/NERDTree"]
	path = .config/nvim/plugged/NERDTree
	url = https://github.com/preservim/nerdtree

[submodule ".config/nvim/plugged/YouCompleteMe"]
	path = .config/nvim/plugged/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe

[submodule ".config/nvim/plugged/ctrlp.vim"]
	path = .config/nvim/plugged/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim

[submodule ".config/nvim/plugged/fzf"]
	path = .config/nvim/plugged/fzf
    url = https://github.com/junegunn/fzf

[submodule ".config/nvim/plugged/fzf.vim"]
	path = .config/nvim/plugged/fzf.vim
    url = https://github.com/junegunn/fzf.vim

[submodule ".config/nvim/plugged/neocomplete.vim"]
	path = .config/nvim/plugged/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim

[submodule ".config/nvim/plugged/nerdtree-git-plugin"]
	path = .config/nvim/plugged/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin

[submodule ".config/nvim/plugged/syntastic"]
	path = .config/nvim/plugged/syntastic
    url = https://github.com/vim-syntastic/syntastic

[submodule ".config/nvim/plugged/tagbar"]
	path = .config/nvim/plugged/tagbar
    url = https://github.com/majutsushi/tagbar

[submodule ".config/nvim/plugged/undotree"]
	path = .config/nvim/plugged/undotree
    url = https://github.com/mbbill/undotree

[submodule ".config/nvim/plugged/vim-airline"]
	path = .config/nvim/plugged/vim-airline
    url = https://github.com/vim-airline/vim-airline

[submodule ".config/nvim/plugged/vim-autoclose"]
	path = .config/nvim/plugged/vim-autoclose
    url = https://github.com/Townk/vim-autoclose

[submodule ".config/nvim/plugged/vim-devicons"]
	path = .config/nvim/plugged/vim-devicons
    url = https://github.com/ryanoasis/vim-devicons

[submodule ".config/nvim/plugged/vim-fugitive"]
	path = .config/nvim/plugged/vim-fugitive
    url = https://github.com/tpope/vim-fugitive

[submodule ".config/nvim/plugged/vim-jsbeautify"]
	path = .config/nvim/plugged/vim-jsbeautify
    url = https://github.com/maksimr/vim-jsbeautify

[submodule ".config/nvim/plugged/vim-ripgrep"]
	path = .config/nvim/plugged/vim-ripgrep
    url = https://github.com/jremmen/vim-ripgrep

[submodule ".config/nvim/plugged/vim-vue"]
	path = .config/nvim/plugged/vim-vue
    url = https://github.com/storyn26383/vim-vue

[submodule ".config/nvim/plugged/vim-vue"]
	path = .config/nvim/plugged/vim-vue
    url = https://github.com/storyn26383/vim-vue

[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k

[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
    url = https://github.com/jimeh/tmux-themepack

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
