/** Configured For Applets **/

configuration {
	modi: "window,drun,run,ssh";
	show-icons: true;
	icon-theme: "Papirus";
	terminal: "kitty";
	drun-match-fields: "name,generic,exec,categories";
}
	
@import "/home/tanguy/.local/share/rofi/themes/slate.rasi"
